{% extends 'base.html' %}

{% block content %}
<div class="container">
        <div class="row">
            <div class="col-md-3 align-self-start">
                <div class="game-holder d-flex justify-content-start flex-wrap">
                    {% for g in games|slice:"12" %}
                        {% load static %}
                        <a class="home-g d-flex justify-content-center ml-2 my-2" href="{% url 'game:game_detail' pk=g.pk %}">
                            <img  src="{% static 'games/g.jpg' %}" title="{{g.title}}" class="my-1" alt="{{g.title}}"> 
                        </a>                                    
                    {% endfor %}
                </div>
            </div>
            <div class="col-md-9">
                {% for collection in all_game_list %}
                    <div class="col-md-12 mb-1">
                        <div class="collection">
                            <div class="collection-body">
                                <h3 class="ml-2"><a class="text-dark" href="{% url 'list:list_detail' pk=collection.pk %}">{{collection.name}}</a></h3>
                                <div class="collection-body--content">
                                    <span>{{collection.description}}</span>
                                    <div class="collection-body--games">
                                        {% for g in collection.game.all|slice:"3" %}
                                        <div class="data ml-2">
                                            {% load static %}
                                            <img src="{% static 'games/g.jpg' %}" class="my-2" alt="">
                                            <div class="collection-body--games__metadata ml-2">
                                                <a style="text-decoration:none;" href="{% url 'game:game_detail' pk=g.pk %}"><span class="text-primary vt-align"> {{g.title}}</span></a> 
                                                <div class="views">
                                                    <span class="views" style="font-size:14px;"> {{g.date_uploaded}}</span>
                                                    <span> {{g.views}}</span>
                                                </div>
                                            </div>
                                        </div>                                
                                        {% endfor %}
                                    </div>
                                    <div class="collection-body--meta"> 
                                        <span>created by | {{collection.owner.user.username}}</span>
                                        <span class="text-muted">->{{collection.date_created}}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr>
                    </div>
                {% endfor %}
                <!-- pagination starts -->
                <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-end">
                        {% if all_game_list.has_previous %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ all_game_list.previous_page_number}}" tabindex="-1">Previous</a>
                        </li>
                        {% endif %}
                        {% for page in all_game_list.paginator.page_range  %}
                            {% if all_game_list.number == page %}
                            <li class="page-item active"><a class="page-link" href="?page={{page}}" >{{page}}</a></li>
                            {% else %}
                            <li class="page-item"><a class="page-link" href="?page={{page}}" >{{page}}</a></li>
                            {% endif %}
                        {% endfor %}
                        {% if all_game_list.has_next %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ all_game_list.next_page_number}}">Next</a>
                        </li>
                        {% endif %}
                     
                        <!-- <li class="page-item"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li> -->
         
                    </ul>
                </nav>
                <!-- pagination ends -->

            </div>
        
           

</div>
</div>
{% endblock %}